.profile__edit-button {
  background: url(../../../images/edit-button.svg) no-repeat center #000;
  background-size:  10px;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #FFF;
  position: absolute;
  top: 15px;
  right: 0;
}

