.popup__container {
  position: relative;
  max-width: 360px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 35px;
}

@media screen and (max-width: 500px) {
  .popup__container {
    margin: 0 19px;
    min-height: 272px;
    padding: 25px 22px;
  }  
}
