.profile__name-and-button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 16px;
}

@media screen and (max-width: 768px) {
  .profile__name-and-button-wrapper {
    margin-bottom: 14px;
  }
}