.popup__close-button {
  border: 0;
  padding: 0;
  background: url(../../../images/close.svg) center no-repeat;
  background-size: 32px;
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@media screen and (max-width:540px) {
  .popup__close-button {
    background-size: 22px;
    min-width: 22px;
    min-height: 22px;
    top: -38px;
    right: 0;
  }
}
