.profile__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .profile__info {
    justify-content: center;
    text-align: center;
  }
}
