.popup__save-button_inactive {
  background-color: #fff;
  border: 1px solid #000000;
  color: #000;
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}

.popup__save-button_inactive:hover {
  background-color: #fff;
}
